.bg {
  background-image: url(../img/2.png);
  background-position: center center;
}

.bg2 {
  background-image: url(../img/3.jpg);
  background-position: center center;
}

.login,
.crear-cuenta {
  background: #ff58bd;
  background: linear-gradient(to right, #5ed6d0, #c8c8c8);
}

.bg_color {
  background-color: #08bd68;
  background-color: linear-gradient(to right, #5ed6d0, #5ed6d0);
}

.completo {
  color: #08bd68;
}

.fondo_lista a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.lista_tareas ul {
  list-style: none;
  padding: 1.6rem 0 0 0;
  margin: 0;
}
.lista_tareas ul li {
  margin-bottom: 1.1rem;
}
.lista_tareas ul li a:hover {
  color: #ebcb40;
}

.lista_por_hacer {
  background-color: #ffffff;
  max-width: 850px;
  width: 90%;
  margin: 2.1rem auto 0 auto;
  padding: 2.1rem;
  border: 2px solid #656565;
}
.lista_por_hacer ul {
  padding: 0;
  list-style: none;
}
.lista_por_hacer ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 2px solid #bdbcbc;
}
.lista_por_hacer ul li:last-of-type {
  border-bottom: none;
}
.lista_por_hacer ul li i {
  cursor: pointer;
}

.espacio i:last-child {
  margin-left: 3.3rem;
}