.bg {
  background-image: url(../img/2.png);
  background-position: center center;
}

.bg2 {
  background-image: url(../img/3.jpg);
  background-position: center center;
}

.login,
.crear-cuenta {
  background-color: #2a2f3d;
}

.bg_gris {
  background: #2a2f3d;
}
.bg_gris2 {
  background-color: #2a2f3d;
}

.bg_azul {
  background: #00f2ff;
}

.bg_naranja {
  background: #ff6732;
}

.bg_amarillo {
  background: #ffca00;
  padding: 1rem;
}

.bg_blanco {
  background: #ffffff;
}

.tamano_boton {
  height: 3rem;
}
.completo {
  color: #08bd68;
}

.fondo_lista a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.lista_tareas ul {
  list-style: none;
  padding: 1.6rem 0 0 0;
  margin: 0;
}
.lista_tareas ul li {
  margin-bottom: 1.1rem;
}

@media (max-width: 992px) {
  .lista_tareas ul li {
    text-align: center;
  }
}
.lista_tareas ul li a:hover {
  color: #ebcb40;
}

.lista_por_hacer {
  background-color: #2a2f3d;
  color: #ffffff;
  max-width: 850px;
  width: 90%;
  margin: 2.1rem auto 0 auto;
  padding: 2.1rem;
  border: 2px solid #656565;
}
.lista_por_hacer ul {
  padding: 0;
  list-style: none;
}
.lista_por_hacer ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 2px solid #bdbcbc;
}
.lista_por_hacer ul li:last-of-type {
  border-bottom: none;
}
.lista_por_hacer ul li i {
  cursor: pointer;
}

.espacio i:last-child {
  margin-left: 3.3rem;
}
